body {
    background-color: #282c34;
}

.LoginHeader {
    color: white;
    margin-left: 580px;
    margin-top: 2%;
    font-size: 30px;
}

.LoginCard {
    margin-top: 50px;
    margin-left: 600px;
    margin-right: 600px;

}